body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: black;
}








/*Хедер*/
.main-header {
    margin-bottom: 65px;
    padding: 20px;
    color: black;
    font-size: 16px;
    line-height: 30px;
    background-color: #eeeeee;
    list-style: none;
}

.main-navigation {
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none;


}

.main-navigation a:hover {
    color: red;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    align-items: center;

    list-style: none;
}

.main-navigation a,
.cart-navigation a {
    color: black;
}

.site-header-logo {
    order: 0;
    width: 160px;
    height: 70px;
}

.cart-navigation {
    width: 160px;
    align-items: flex-end;

}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    align-items: center;

    list-style: none;

}

















/*лишки, скрытие, заголовки и тд */

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.info {
    width: 760px;
}

h1 {
    color: black;
    font-size: 55px;
    text-transform: none;
}

h2 {
    font-size: 45px;
    line-height: 45px;
}

h3 {
    text-transform: uppercase;
}

.legend {
    text-transform: uppercase;
}


.modal_modal-feedback {
    display: none;
}

fieldset {
    border: none;
}


.clients-list ul {
    display: flex;
    justify-content: flex-start;
    padding: 50px 80px;
}

.client-logo {
    width: 260px;
}


.shop-page {
    text-align: center;
}

.info b {
    text-transform: uppercase;
}

.items a {
    text-decoration: none;

}


.last-text p {
    padding-left: 300px;
}






/*Кнопки*/
.button {
    color: white;
    font: inherit;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.302);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #d7373b;
}

.button-green {
    font: inherit;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #00ca74;
    border: none;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.302);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #00aa62;
}

.button-yellow {
    font: inherit;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #efc84a;
    border: none;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.302);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #e5a722;
}

.button-grey {
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 19px 89px 19px 89px;
    margin: 0px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #eeeeee;
    border: none;
}

.button-grey:hover,
.button-yellow:focus {
    border: 0px;
    background-color: #dfdfdf;
}

.button-grey:active {
    color: rgba(0, 0, 0, 0.302);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #d5d5d5;

}






/*Соц.сети*/
.social-button {
    color: white;

    text-align: center;
    float: left;
    margin: 10px;
    width: 78px;
    height: 78px;
    background: #e1e1e1;
    border-radius: 50%;
}

.social-icon {
    fill: white;
    margin: 29px 3px;
}

.social-button:hover {
    background: #e74246;
}

.social-button:active {
    background: #d7373b;
}


.sidebar {
    font-size: 16px;
    line-height: 20px;
}

.sidebar legend {
    text-transform: uppercase;
    font-weight: 700;

}






/*Сервисы*/
.services {
    margin-bottom: 160px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-item {
    width: 300px;
}






/*Каталог*/
.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.sidebar {
    width: 280px;
}

.catalog {
    width: 760px;
}

.catalog-item-title a {
    color: black;
}

.catalog-item {
    width: 360px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}
